.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.page-title {
  margin-bottom: 2rem;
}

.product-title {
  width: max-content;
  font-size: 1.2rem;
  font-weight: 500;
}
